.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.modal-main {
  position: fixed;
  background: white;
  width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  height: 60%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-button {
  

  .modal-close-button {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #db0f62;
    width: 150px;
    height: 40;
    border-color: #db0f62;
    border-radius: 30px;
    color: #fff;
    margin: 10px;
  }
}
